@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

*{
  font-family: 'Roboto', sans-serif;
}

html{
  height: 100%;
}

body{
  height: 100%;
  margin: 0;
  padding: 0;
  background: #eee;
  font-size: 1em;
}

/* Invólucro */
.wrapper{
  height: auto;
  max-width: 600px;
  margin: 0 auto !important;
  margin-top: 10px !important;
}



/* Grupo de Senha */
#showpw{
  font-size: 1.2em;
  text-align: left;
  font-weight: 400;
  cursor: pointer;
}

.alterarSenha{
  display: none;
}


/* Botão de Enviar */
.btn{
  display: inline-block;
  max-width: 140px;
  padding: 0.6em 0.8em;
  box-sizing: border-box;
  border: 1px solid #459;
  color: #459;
  margin-bottom: 0.5em;
  background: transparent;
  font-size: 0.9em;
  transition: 0.5s;
  cursor: pointer;
}

.btn:hover{
  background: #459;
  color: white;
}

#msg{
  display: none;
}

/* Links */
a, a:link, a:visited, a:focus{
  text-decoration: none;
  color: #4da6ff;
  font-weight: 300;
}

a:hover{
  color: #0073e6;
}

#voltar{
  display: block;
  text-align: center;
  font-size: 1em;
}

/* Erro */
.erro{
  display: none;
  width: 400px;
  background: #459;
  padding: 0.6em 0.6em;
  box-sizing: border-box;
  position: relative;
  top: -1.8em;
  text-align: center;
  font-weight: 300;
  color: white;
}
