.curriculo{
  padding: 0.3em;
  margin: 0.3em;
  border: 2px solid #ccc;
  background-color: #F1F1F1;
  font-size: 1em;
  font-weight: 300;
  color: #303040;
  overflow-y: scroll;
  max-height: 85%;
}

.curriculoContent{
  display: none;
}

#load{
    width: 20%;
    display: block;
    margin: 0 auto;
    padding: 5em;
}

.curriculo h1 {
  display: block;
  background: #303040;
  color: #eee;
  padding: 0;
  height: auto;
  padding: 0.5em;
  margin-top: 0.5em;
  font-size: 1.3em;
}

.curriculo h2 {
  background: hsla(240, 14%, 34%, 1);
  color: #eee;
  font-family: 'Raleway', sans-serif;
  padding: 0.5em;
  font-size: 1em;
  padding-left: 2em;
  margin: 0;
}

h2:nth-child(odd){
 background: hsla(240, 14%, 25%, 1);
}

.hswrap{
  position: relative;
}

.hide-show{
  position: absolute;
  right: 1em;
  top: -2.05em;
  background: transparent;
  border: 0;
  color: #eee;
  cursor: pointer;
  text-transform: uppercase;
  border-bottom: 1px solid #eee;
  transition: 0.5s;
}

.hide-show:hover{
  color: #aaa;
}

.search{
  position: absolute;
  right: 10em;
  top: -2.9em;
  background: hsla(240, 14%, 55%, 1);
  /* border: 0; */
  color: hsla(240, 14%, 26%, 1);
  outline: none;
  padding: 0.3em 1.5em;
  /* padding-left: 0.5em; */
  border: 2px solid hsla(240, 14%, 54%, 1);
}

.search::placeholder{
  color: #4f4f69;

}

.ic_wrapper {
  display: none;
  padding: 0.5em;
  border: 2px solid hsla(240, 14%, 57%, 1);
  border-top: 0;
  margin-bottom: 0.5em;
}

.ic_wrapper p{
  margin: 0.3em 0;
}

.val-area{
  font-size: 0;
  padding-top: 5px;
}

.col {
    font-size: 10pt;
    display: inline-block;
}

.col.nao-validado {
  width: 50%;
  text-align: center;
  background: hsl(221, 100%, 67%);
  padding: 0.3em;
  box-sizing: border-box;
  font-weight: 600;
  color: hsla(221, 100%, 100%, 1);
}

.col.invalido{
  width: 50%;
  text-align: center;
  background: hsla(356, 67%, 86%, 1);
  padding: 0.3em;
  box-sizing: border-box;
  font-weight: 600;
  color: hsla(0, 45%, 34%, 1);
}

.col.valido{
  width: 50%;
  text-align: center;
  background: hsl(150, 69%, 45%);
  padding: 0.3em;
  box-sizing: border-box;
  font-weight: 600;
  color: hsl(0, 0%, 92%);
}

.itens{
  list-style: none;
  padding: 0;
  padding-left: 0.75em;
}

.itens li{
  font-size: 0.9em;
  padding-bottom: 1em;
  padding-left: 1.2em;
  border-left: 2px solid #b3b3dc;
}

.dados{
  display: none;
}

.itens li:last-child{
  border-left: 0;
}

div.number {
    position: relative;
    margin-left: -1.5em;
    left: -0.35em;
    background: #333;
    padding-left: 0.35em;
    padding-right: 0.35em;
    padding-top: 0.04em;
    box-sizing: border-box;
    /* width: 1.25em; */
    height: 1.25em;
    display: inline-block;
    color: #eee;
}

.sh{
  cursor: pointer;
  position: relative;
  margin-right: -1.4em;
  background: #171717;
  padding-left: 0.22em;
  padding-right: 0.35em;
  padding-top: 0.04em;
  top: 1.25em;
  left: -1.85em;
  box-sizing: border-box;
  width: 1.25em;
  height: 1.25em;
  display: inline-block;
  color: #eee;
}
.level-2{
  margin-left: -2em ;
  left: -0.8em !important;
}

.level-3 {
    margin-left: -2.65em;
    left: -1.3em !important;
}

.sh.level-2{
  padding-left: 0.5em;
  padding-right: 1.28em;
  left: -.8em !important;
  margin-right: -0.6em;
}

.sh.level-3{
  padding-left: 1.1em;
  padding-right: 1.25em;
  margin-right: -0.1em;
  left: -1.22em !important;
}
.itens li a{
  text-decoration: none;
  color: hsla(206, 69%, 50%, 1);
}

.itens li a:hover{
  color: hsla(206, 80%, 60%, 1);
}

div.currModal {
  position: absolute;
  top: 0;
  bottom:0;
  left: 0;
  right: 0;
  background-color: rgba(16, 16, 16, 0.59);
}

.currModalMsg {
    background: #fff;
    width: 400px;
    height: 250px;
    margin: 10em auto;
}

.currModalMsg .close{
    position: relative;
    display: block;
    right: -19em;
    top: 0.5em;
    margin-bottom: 2em;
    background: transparent;
    border: 0;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
}

.currModalMsg label{
    display: block;
    width: 240px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    top: -1.5em;
    background: hsla(206, 64%, 50%, 1);
    text-align: center;
    padding: 1em;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
}

.currModalMsg input{
    width: 0.1px;
    position: absolute;
    height: 0.1px;
    opacity: 0;
}

.currModalMsg .modalMsg{
    top: 16.5em;
    color: #333;
    text-shadow: none;
}

.currModalMsg .send {
    display: block;
    width: 240px;
    margin: 0.5em auto;
    position: relative;
    top: -1.5em;
    background: hsla(206, 64%, 38%, 1);
    text-align: center;
    padding: 0.5em 1em;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border: 0;
    font-size: 1em;
    box-sizing: border-box;
}

.currModalMsg progress{
  display: block;
  width: 240px;
  margin: 0 auto;
  top: -1em;
  position: relative;
  height: 0.5em;
}

.comp-area{
  display: inline;
}

.col.comprovante {
    width: 25%;
    text-align: center;
    font-weight: bold;
    background: hsla(150, 79%, 45%, 1);
    padding: 0.3em;
    box-sizing: border-box;
}

.col.comprovante a{
    color: #ffffff !important;
}

.col.sem-comprovante {
    padding: 0.3em;
    box-sizing: border-box;
    text-align: center;
    width: 50%;
    background: #f4c4c7;
    /* color: #333; */
}

.col.sem-comprovante a {
    font-weight: bold;
    color: hsla(206, 77%, 39%, 1);
}

.exibir{
    position: relative;
}

.exibir select{
    position: absolute;
    top: -2.9em;
    color: #eaeaea;
    font-weight: 400;
    right: 28em;
    width: 12em;
    background: rgb(124, 124, 156);
    height: 2em;
    color: #303040;
    border: none;
    padding-left: 1em;
}

.col{
    height: 1.7em;
    overflow: hidden;
}

.col.comprovante button {
    background: none;
    border: 0;
    font-size: 14px;
    height: 2em;
    box-sizing: border-box;
    position: relative;
    background: #eaeaea;
    color: #18ce73;
    font-weight: bold;
    cursor: pointer;
    top: -0.4em;
    margin: 0 0.3em;
}
