@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

body{
  margin: 0;
  padding: 0;
}

header{
  
}

#editais{
  padding: 1em;
}

.descricao{
  font-size: 0.95em !important;
  color: #666 !important;
}

.limit-lines {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.8em;
  height: 14.4em;
}