@import url('https://fonts.googleapis.com/css?family=Montserrat|Oswald|Roboto:300');

body{
  padding: 0;
  margin: 0;
  background: #101010;
}

header{
  min-height: 450px;
  width: 100%;
  display: table;
  background: url('../imgs/background.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
}

header .text{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

header h1{
  font-family: "Oswald", sans-serif;
  color: #fff;
  text-shadow: 0 2px 10px #000;
  font-size: 12em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

header h2{
  font-family: "Oswald", sans-serif;
  color: #fff;
  text-shadow: 0 2px 10px #000;
  font-size: 2em;
  margin-top: -0.5em;
  text-transform: uppercase;
  letter-spacing: 0.4em;
}

.info{
  background: #0a0a0a;
  color: #ccc;
  font-family: "Roboto", sans-serif;
  padding-bottom: 1em;
}

.info .symbol{
  width: 20%;
  display: inline-block;
  background: #333;
  height: 250px;
  margin: 1em;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.info .symbol img{
  height: 230px;
}

.info .descricao{
  display: inline-block;
  width: 75%;
  vertical-align: top;
  padding-left: 1em;
  margin: 1em 0;
}

.info .descricao p{
  text-align: justify;
}

/* Section Headers */
.editais h1, .info h1{
  background: hsla(0, 0%, 11%, 1);
  padding: 0.5em;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 24pt;
}

.editais{
  margin-top: 0em;
  background: hsl(0, 0%, 6%);
  padding-bottom: 3.5em;
}


.editais.wrapper{
  padding: 0.5em 1em;
}

.edital.item{
  padding: 1em;
  background: hsl(0, 0%, 98%);
}

.edital.header{
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 1.2em;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

.edital.desc{
  font-family: "Roboto", sans-serif;
  text-align: justify;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  height: 75px;
  overflow: hidden;
  text-overflow: clip ellipsis;
  box-sizing: border-box;
}

.edital.data{
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.1em;
}

footer{
  height: 100px;
  background: #0a0a0a;
  text-align: center;
  line-height: 100px;
  font-size: 12pt;
  color: #666;
}
