@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

* {
  font-family: 'Roboto', sans-serif;
}

body{
  padding: 4em 0;
  margin: 0;
  background: #e9eaef;
}

/* Titulo */
h1{
  width: 400px;
  padding: 0 4em;
  margin: 0.1em auto;
  font-weight: 300;
  font-size: 3em;
  color: #5b94de;
  text-align: center;
}

/* Wrapper */
.wrapper{
  background: rgb(247, 247, 247);
  margin: 0 auto;
  width: 300px;
  padding: 2em 2em;
  /* border-radius: 8px; */
  vertical-align: bottom;
}

/* Labels */
label{
  font-weight: 500;
  color: #5b94de;
  display: none;
}

/* Elementos do Form */
input{
  width: 300px;
  height: 40px;
  margin-bottom: 1em;
  display: block;
  box-sizing: border-box;
  padding: 0.5em 1em;
  outline: none;
  border: 0;
  border-bottom: 2px solid rgba(177, 199, 228, 0.33);
  background: rgba(162, 189, 230, 0.22);
  /* border-radius: 6px; */
  color: #5b94de;
  font-size: 1em;
  font-weight: 500;
  /* font-weight: 400; */
  transition: 0.5s;
}

input:focus{
  border-color: #5b94de;
  transition: 0.5s;
}

/* Butões*/
.btns{
  text-align: right;
}

/* Botão */
.btn{
  text-decoration: none;
  display: inline-block;
  /* width: 100px; */
  padding: 0.5em 1.2em;
  text-align: center;
  box-sizing: border-box;
  /* border: 1px solid #459; */
  color: #5b94de;
  background: transparent;
  font-size: 1em;
  transition: 0.5s;
  cursor: pointer;
}

.btn:hover{
  background: #459;
  color: white;
}

/* Erro */
.erro{
  display: none;
  width: 300px;
  background: #5b94de;
  padding: 0.6em 0.6em;
  box-sizing: border-box;
  position: relative;
  top: -1.1em;
  text-align: center;
  font-weight: 400;
  color: white;
}

/* Links */
.signuplabel{
  color: #6ea4f5;
  font-weight: 300;
  text-align: center;
  display: block;
  /* background: rgba(255, 255, 255, 0); */
  border-top: 1px solid #e5ebf4;
  margin-top: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #e5ebf4;
}

.signuplabel a{
  font-weight: 500;
  color: #2769bf;
  text-decoration: none;
  cursor: pointer;
}

.back{
  width: 300px;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 1em;
  color: rgba(43, 92, 156, 0.42);
  text-decoration: none;
  cursor: pointer;
}
