@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Raleway');
*{
  font-family: 'Roboto', sans-serif;
}

body{
  margin: 0;
  padding: 0;
}

main{
  float: right;
  width: 75%;
  bottom: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #e3e3e3;
}

aside{
  float: left;
  width: 25%;
  background-color: #212121;
  bottom: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.info {
    padding-top: em;
}

#modalIn{
  width: 50% !important;
  margin: 0 auto !important;
}

input#fileCurriculo {
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    display: none;
}


/* Painel Lateral */
aside .info a{
  display: block;
  padding: em 0;
  padding-left: 0.4em;
  text-decoration: none;
  font-weight: 400;
  font-size: 1em;
  /* background-color: #e4e4e6; */
  color: #eaeaea;
  /* border-bottom: 2px solid transparent; */
  transition: 0.5s;
  padding-bottom: 0.8em;
}

#desconectar{
  border-bottom: 0;
}

aside .info a:hover{
  background-color: #1f1f29;
  /* border-bottom: 2px solid #251c6f; */
}

#desconectar:hover{
  color: #e41414;
  border-bottom: 0;
}

#desconectar:hover .icon{
  color: #cc1a1a;
}

aside .info a .icon{
  color: #eaeaea;
  font-size: 1.4em;
  width: 1em;
  height: 1em;
  position: relative;
  display: inline-block;
  padding: 0.4em 0.6em;
  /* background-color: rgba(163, 163, 183, 0.11); */
  transition: 0.5s;
}
